body,h1,h2,p,ul,li,form{
    margin:0;
    padding:0;
}
body{
    background-position: fixed;
    background-size: cover;
    background-color: rgb(239, 199, 68);
    line-height: 1.6;
}
header{
    padding: 10px 5px;
    background-color: rgb(86, 86, 231);
    border-radius: 5px;
    position: static;
    top: 0;
    text-align: center;
    margin: 10px;
}
h1{
    color: black;
    margin-left: 30px;
    text-align: left;   
    margin-top: 40px;
    padding: auto;
}
nav ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    text-align: center;
}
li{
    display: inline;
    margin: 0 20px;
}
a{
    text-decoration: none;
    color: whitesmoke;
    transition: color 0.3s, text-shadow 0.3s;
}

a:hover{
    color:black;
    text-decoration: underline;
    text-shadow: 0px 0px 10px pink;

}
@media screen and (max-width:600px)
{
    #type1{
        font-size: 30px;
    } 
}

@media screen and (max-width:600px)
{
    .letterx{
        font-size: 60px; 
    }
}
#type1{
    font-family: sans-serif;
    font-size: 60px;
    text-align: center;
    padding: 5px;

}
.letterx-container {
    display: inline-block;
    perspective: 1000px; /* Add perspective to create a 3D effect */
}
.letterx{
    font-size: 150px;
    background-image: url(X2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
    transition: transform 0.3s ease, box-shadow 0.3s ease ; 
}
.letterx-container:hover .letterx {
    transform: scale(1.5) rotateY(30deg);
    text-shadow:  0 10px 80px rgb(86, 86, 231);
}
.product1{
    justify-content: center;
    text-align: center;
}
.button{
    display: grid;
}
.button1{
    background-color:rgba(63, 63, 238, 0.872);
    margin: auto;
}
.button1:hover{
    background-color: whitesmoke;
    box-shadow: 2px 2px 0px rgb(86, 86, 231);
    transform: scale(1.1);
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-spacing: 10px;
    transition: 1s;
}

.img1, .img2 {
    width: 25vh;
    height: 25vh;
    display: block;
    margin: 0 auto; /* Center the images horizontally */
    border-radius: 5px;
    transform: scale(0.8);
}

.img1:hover, .img2:hover {
    transform: scale(0.9);
    z-index: 2;
}

.textitems1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-spacing: 10px;
}
.cart{
    background-color: grey;
    justify-items: center;
    padding: 5px 10px; 
    transition: all 0.3s ease; 
}
.cart:hover{
    background-color: black;
    color: aliceblue;
    transform: scale(1.2);
    z-index: 0;
}
/* profile icon */
.profile1,.profile2,.profile3,.profile4{
    width: 20px;
    height: 20px;
    margin-left: 20vh;
}

.contact1{
    margin-left: 10vw;
}

.footer{
    background-color: rgb(86, 86, 231);
    padding: 30px;
}
.list3{
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
    
}
.list4{
    font-weight: 800;
    font-size: 18px; 
    padding-left: 10px;
}



